.side {
    overflow: auto; /* Allows scrolling */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
  }

  .side::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari */
  }
  